<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>TweetFeed</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar">
      <a>
        <img src="https://marketingland.com/wp-content/ml-loads/2014/07/twitter-logo-small-1920-800x450.png" style="width:120px;height:83px;"</img>
      </a>
    </div>

    <div class="main">
      <h1>TweetFeed:</h1>
      <form action="/tweetfeed" method="post">
        Create tweet:
        <input type="text" name="peep" placeholder="Enter tweet here">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="footer">
      <p>© Jedd Hopkins</p>
    </div>

  </body>
</html>
