body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f2f7ff;
}

.navbar {
  overflow: hidden;
  background-color: #5ea9dd;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
}

.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}


.main {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 16px;
  margin-top: 100px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5ea9dd;
  color: white;
  text-align: center;
}

hr {
  font-size: 40px;
  width: 400px;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
  margin-top: 60px;
}

.button {
  font-family: 'Poppins', sans-serif;
  background-color: #5ea9dd;
  color: white;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2 {
  font-family: 'Poppins', sans-serif;
  background-color: #5ea9dd;
  color: white;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
